@font-face {
  font-family: "Jaune";
  src: url("/fonts/NaNJaune-MidiMedium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Jaune";
  src: url("/fonts/NaNJaune-MidiBlack.woff2");
  font-weight: 800;
}

:root {
  /**
   * Colors
   */

  --primary: #8239A8;
  --primary-dark: #682C8D;
  --primary-darker: #410860;
  --primary-darkest: #1A0129;
  --primary-light: #9B46C2;
  --primary-lighter: hsl(274 44% 82% / 1);
  --primary-lightest: #EDDBF7;

  --secondary: #E8D196;
  --secondary-dark: #9C740C;
  --secondary-bg: #FDF9E7;

  --tertiary: #60C9F6;
  --tertiary-dark: hsl(197deg 90.41% 39.4%);
  --tertiary-light: #C9F0F9;

  /** Semantic variables */
  --bg-color-stop1: var(--primary-light);
  --bg-color-stop2: var(--primary-dark);

  --logo-color: var(--secondary);

  --headline-color: var(--primary-lightest);
  --headline-shadow-color: var(--primary-darker);
  --subheadline-color: var(--primary-lighter);

  --section-light--headline-color: var(--secondary-dark);

  --text-color: #332502;
  --link-color: var(--tertiary-dark);
  --section-dark--text-color: var(--primary-lighter);
  --button-text-color: var(--primary-darker);
  --button-border-color: var(--primary-darkest);

  /**
   * Type variables
   */
  --body-font: "degular-variable", Degular, sans-serif;
  --headline-font: "Jaune", Verdana, sans-serif;
  --body-font-weight-bold: 'ital' 0, 'opsz' 6, 'wght' 650;

  /** TODO: add text sizes */
}

html, body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
}

body {
  background: radial-gradient(100.61% 124.97% at 21.36% -4.02%, var(--bg-color-stop1) 0%, var(--bg-color-stop2) 100%);
  box-sizing: border-box;
  font-size: 16px;
}

.logo {
  display: block;
  margin: auto;
  margin-top: 1rem;
  width: 120px;
  color: var(--logo-color);
}

:is(h1, h2, h3, h4) {
  text-wrap: balance;
}

h1 {
  color: var(--headline-color);
  text-align: center;
  text-shadow: 1px 1px 2px var(--headline-shadow-color);
  font-family: var(--headline-font);
  font-size: 3.875rem;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}

h2 {
  color: var(--subheadline-color);
  text-align: center;
  font-family: var(--headline-font);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 128%;
  /* 2.08rem */
}

h3 {
  color: var(--section-light--headline-color);
  font-family: var(--headline-font);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.2;
  /* 2.325rem */
}

p {
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 133%;
  /* 2.3275rem */
}

ol, ul {
  margin: 0;
  font-family: var(--body-font);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 133%;
}

a {
  color: var(--link-color);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.button {
  --bs-distance: 3px;
  --bs: var(--bs-distance) var(--bs-distance) 0 0 var(--button-border-color);
  --bs-distance-hover: calc(var(--bs-distance) * 2);
  --bs-hover: var(--bs-distance-hover) var(--bs-distance-hover) 0 0 var(--button-border-color);

  display: inline-flex;
  padding: 0.75rem 1.875rem 0.65rem;
  align-items: flex-start;
  gap: 0.625rem;

  border-radius: 4.375rem;
  border: 3px solid var(--button-border-color);
  background: #FFF;
  box-shadow: var(--bs);

  color: var(--button-text-color);
  text-align: center;
  font-family: var(--body-font);
  font-size: 1.375rem;
  font-style: normal;
  font-variation-settings: var(--body-font-weight-bold);
  line-height: 98%;
  text-decoration: none;
  /* 1.43rem */

  &:hover {
    box-shadow: var(--bs-hover);
    transform: translate(calc(var(--bs-distance) * -1), calc(var(--bs-distance) * -1));
  }

  &:active {
    box-shadow: none;
    transform: translate(var(--bs-distance-hover), var(--bs-distance-hover));
  }
}

/**
 * Layout
 */

.top {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &::after {
    --separator-height: 80px;
    content: '';
    display: block;
    position: relative;
    bottom: calc(var(--separator-height) / 2 * -1);
    left: 0;
    height: var(--separator-height);
    background: url('/images/jelly.svg#1') repeat-x;
  }
}

.headlines {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 0 5vw;
}

.cta {
   padding: 2rem 0;
   display: flex;
   justify-content: center;
}

main {
  background:
    url(/images/bread_holes.svg),
    var(--secondary-bg);
  padding: 5vh 0;
  display: flex;
  justify-content: center;
}

.content {
  width: min(50rem, 90vw);
}

footer {
  padding: 5vh 5vw;

  p {
    color: var(--section-dark--text-color);
    font-size: 1rem;
  }
}
